<h2>This is our first template</h2>

<p>{{greeting}} to all of you!</p>

<p>Here are our notes: </p>


{{#each notes}}

<div>
  <ul>
    <li>
      <p>Author: {{author}}</p>
      <p>Note: {{note}}</p>
    </li>
  </ul>

</div>


{{/each}}